.btnHover {
  background-color: #a8d4a8; /* ちょっと濃い緑色 */
}
.btnHover:hover {
  border-color: #8cb08c;
  transform: scale(1.03); /* ちょっと大きくなる */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* 薄い影 */
}

.toggleBtn {
  transition: all 0.3s ease;
  background-color: #a8d4a8; /* ちょっと濃い緑色 */
}
.toggleBtn:hover {
  border-color: #8cb08c;
  transform: scale(1.03); /* ちょっと大きくなる */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* 薄い影 */
}

.clickBtn {
  background-color: #c0dfc0;
}
.clickBtn:disabled {
  background-color: #c0dfc0;
  opacity: 0.5;
}

.deleteBtn {
  background-color: #f0d9d9;
}
.deleteBtn:disabled {
  background-color: #f0d9d9;
  opacity: 0.5;
}
